@font-face {
  font-family: "AA Stetica";
  src: url("../assets/fonts/AA Stetica Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "AA Stetica";
  src: url("../assets/fonts/AA Stetica Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AA Stetica";
  src: url("../assets/fonts/AA Stetica Bold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "AA Stetica";
  src: url("../assets/fonts/AA Stetica Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "AA Stetica";
  src: url("../assets/fonts/AA Stetica Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "AA Stetica";
  src: url("../assets/fonts/AA Stetica Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "AA Stetica";
  src: url("../assets/fonts/AA Stetica Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "AA Stetica";
  src: url("../assets/fonts/AA Stetica Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "AA Stetica";
  src: url("../assets/fonts/AA Stetica Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.main-button, .black-button {
  border-radius: 50px;
  padding: 20px 28px;
  font-family: "AA Stetica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  border-style: unset;
  transition: 0.2s ease-out;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}
.main-button.round, .black-button.round {
  padding: 20px;
}

.main-button {
  background: #E21F2F;
}
.main-button:hover {
  box-shadow: 0 8px 20px 0 rgba(226, 31, 47, 0.3);
}

.black-button {
  background: rgb(23, 24, 25);
}
.black-button:hover {
  background: rgb(46, 47, 49);
}
.black-button.disabled {
  display: none;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background: rgb(23, 24, 25);
  display: flex;
  justify-content: center;
}
header .header__container {
  padding: 24px 94px;
  display: flex;
  gap: 141px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
}
header .header__container .header__link-menu {
  display: flex;
}
header .header__container .header__link-menu a {
  padding: 10px 20px;
  color: #FFFFFF;
  font-family: "AA Stetica", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
header .header__container .header__call-me {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header__container .header__call-me .header__call-me-phone-number {
  display: flex;
  gap: 8px;
}
header .header__container .header__call-me .header__call-me-phone-number svg {
  color: #E21F2F;
}
header .header__container .header__call-me .header__call-me-phone-number p {
  font-family: "AA Stetica", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 22px;
}

footer {
  background: #2E3136;
  display: flex;
  justify-content: center;
}
footer .footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  width: 100%;
  max-width: 1600px;
  padding: 40px 94px;
  margin-top: auto;
}
footer .footer__container .footer__company-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .footer__container .footer__company-info .footer__name {
  font-family: "AA Stetica", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}
footer .footer__container .footer__company-info .footer__logo {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  width: 100%;
  font-family: "AA Stetica", sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
}
footer .footer__container .footer__social {
  display: flex;
  gap: 32px;
}
footer .footer__container .footer__social span {
  font-weight: bold;
}
footer .footer__container .footer__social .footer__adm-data {
  width: 100%;
  max-width: 156px;
}
footer .footer__container .footer__social .footer__address {
  width: 100%;
  max-width: 332px;
}
footer .footer__container .footer__social .footer__adm-data, footer .footer__container .footer__social .footer__address {
  font-family: "AA Stetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.call {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(23, 24, 25, 0.35);
  transition: 0.2s ease-out;
}
.call.active {
  display: flex;
}
.call .call__container {
  max-width: 700px;
  background: #FFFFFF;
  padding: 40px;
  position: relative;
}
.call .call__container .call__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.call .call__container h2 {
  font-size: 28px;
  font-family: "AA Stetica", sans-serif;
  font-weight: 700;
  line-height: 140%;
  color: #2E3136;
}
.call .call__container .call__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.call .call__container .call__form.disabled {
  display: none;
}
.call .call__container .call__form .call__inputs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.call .call__container .call__form .call__inputs label {
  width: 100%;
  max-width: 300px;
  position: relative;
}
.call .call__container .call__form .call__inputs label img {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.1s linear;
  pointer-events: none;
}
.call .call__container .call__form .call__inputs input {
  all: unset;
  font-family: "AA Stetica", sans-serif;
  font-size: 16px;
  color: #686868;
  border: 2px solid rgb(231, 234, 237);
  background: rgb(244, 245, 246);
  padding: 20px;
  max-width: 258px;
  width: 100%;
  cursor: text;
  transition: 0.1s linear;
}
.call .call__container .call__form .call__inputs input.input-error {
  border-color: rgb(226, 31, 47);
}
.call .call__container .call__form .call__inputs input.input-success {
  border-color: rgb(231, 234, 237);
}
.call .call__container .call__form .call__inputs input.input-success + img {
  opacity: 1;
}
.call .call__container .call__form .call__inputs input:hover {
  border-color: rgb(157, 162, 167);
}
.call .call__container .call__form .call__inputs input:focus {
  border-color: rgb(23, 24, 25);
}
.call .call__container .call__form .call__button {
  display: flex;
  gap: 20px;
}
.call .call__container .call__form .call__button .main-button {
  width: 100%;
  justify-content: center;
  max-width: 300px;
}
.call .call__container .call__form .call__button p {
  font-size: 14px;
  font-family: "AA Stetica", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #2E3136;
}
.call .call__container .call__form .call__button a {
  text-decoration: underline;
  color: #2E3136;
}
.call .call__container .call__form .call__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.call .call__container .call__form .call__contacts h3 {
  font-family: "AA Stetica", sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: #2E3136;
}
.call .call__container .call__form .call__contacts div {
  display: flex;
  gap: 16px;
}
.call .call__container .call__form .call__contacts div .black-button {
  width: 100%;
  max-width: 300px;
  justify-content: center;
}
.call .call__container .call__success {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.call .call__container .call__success.disabled {
  display: none;
}
.call .call__container .call__success p {
  font-family: "AA Stetica", sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: #2E3136;
}

.breadcrumbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F4F5F6;
}
.breadcrumbs__container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 1600px;
  padding: 20px 92px;
}
.breadcrumbs__container a {
  font-family: "AA Stetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2E3136;
  display: flex;
}
.breadcrumbs__container a.disabled {
  color: #7C8289;
}

.under-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
}
.under-key__container {
  display: flex;
  gap: 28px;
  width: 100%;
  max-width: 1600px;
  padding: 60px 94px;
}
.under-key__container .under-key__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 692px;
}
.under-key__container .under-key__left h2 {
  line-height: 120%;
  color: #2E3136;
  font-family: "AA Stetica", sans-serif;
  font-size: 44px;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .under-key__container .under-key__left h2 {
    font-size: 30px;
  }
}
.under-key__container .under-key__left span {
  color: #E21F2F;
}
.under-key__container .under-key__left p {
  font-family: "AA Stetica", sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: #2E3136;
}
.under-key__container .under-key__left p.strong {
  font-weight: 700;
}
.under-key__container .under-key__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.under-key__container .under-key__right .right__img {
  width: 100%;
  height: 100%;
  max-width: 692px;
  max-height: 372px;
  position: relative;
}
.under-key__container .under-key__right .right__img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(226, 31, 47, 0.5), rgba(226, 31, 47, 0) 100%);
}
.under-key__container .under-key__right .right__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.under-key__container .under-key__right .manager {
  position: absolute;
  max-width: 437px;
  bottom: -60px;
}

.contacts {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__container {
  display: flex;
  gap: 29px;
  max-width: 1600px;
  width: 100%;
  padding: 120px 94px;
}
.contacts__container .contacts-cards {
  display: flex;
  gap: 40px;
}
.contacts__container .contacts-cards .contacts-card {
  display: flex;
  gap: 16px;
  align-items: center;
}
.contacts__container .contacts-cards .contacts-card .card__img-box {
  padding: 13px;
  background: rgb(23, 24, 25);
  display: flex;
}
.contacts__container .contacts-cards .contacts-card .card__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contacts__container .contacts-cards .contacts-card .card__content p {
  font-family: "AA Stetica", sans-serif;
  font-size: 16px;
  color: #2E3136;
  line-height: 24px;
}
.contacts__container .contacts-cards .contacts-card .card__content p.strong {
  font-weight: 700;
}
.contacts__container .contacts__left {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.contacts__container .contacts__left .contacts__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts__container .contacts__left .contacts__info h2 {
  line-height: 120%;
  color: #2E3136;
  font-family: "AA Stetica", sans-serif;
  font-size: 44px;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .contacts__container .contacts__left .contacts__info h2 {
    font-size: 30px;
  }
}
.contacts__container .contacts__left .contacts__info p {
  font-family: "AA Stetica", sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: #2E3136;
}
.contacts__container .contacts__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__container .contacts__right .map {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.contacts__container .contacts__right .map:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(226, 31, 47, 0.5), rgba(226, 31, 47, 0) 100%);
  height: 40%;
  bottom: 0;
  pointer-events: none;
}
.contacts__container .contacts__right .contacts-cards {
  padding: 20px;
  gap: 20px;
  background: #FFFFFF;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 20px;
}

.under-key {
  background: #F4F5F6;
}

.cost-on-site {
  background: #F4F5F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cost-on-site__container {
  padding: 60px 94px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  width: 100%;
  gap: 60px;
}
.cost-on-site__container h2 {
  color: #2E3136;
  max-width: 603px;
  text-align: center;
  color: #2E3136;
  font-family: "AA Stetica", sans-serif;
  font-size: 44px;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .cost-on-site__container h2 {
    font-size: 30px;
  }
}
.cost-on-site__container .cost-on-site__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cost-on-site__container .cost-on-site__content > p {
  color: #2E3136;
  line-height: 160%;
  max-width: 930px;
  font-family: "AA Stetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.cost-on-site__container .cost-on-site__content > p span.thin {
  font-weight: normal;
}
.cost-on-site__container .cost-on-site__content > p span.red {
  color: #E21F2F;
}
.cost-on-site__container .cost-on-site__content .cost-on-site__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}
.cost-on-site__container .cost-on-site__content .cost-on-site__items .cost-on-site__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #FFFFFF;
  padding: 28px;
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(26, 40, 54, 0.05);
}
.cost-on-site__container .cost-on-site__content .cost-on-site__items .cost-on-site__item h3 {
  font-size: 28px;
  line-height: 140%;
  font-family: "AA Stetica", sans-serif;
  font-weight: 700;
  color: #2E3136;
}
.cost-on-site__container .cost-on-site__content .cost-on-site__items .cost-on-site__item p {
  font-family: "AA Stetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2E3136;
}
.cost-on-site__container .cost-on-site__content .cost-on-site__items .cost-on-site__item span {
  position: absolute;
  top: -31px;
  right: 31px;
  font-size: 52px;
  font-family: "AA Stetica", sans-serif;
  font-weight: 700;
  line-height: 120%;
  color: #E21F2F;
}

.calculation {
  background: #F4F5F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculation__container {
  padding: 50px 94px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  width: 100%;
  gap: 60px;
}
.calculation__container .calculation__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.calculation__container .calculation__title h2 {
  color: #2E3136;
  font-family: "AA Stetica", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  color: rgb(23, 24, 25);
}
.calculation__container .calculation__title p {
  font-family: "AA Stetica", sans-serif;
  font-size: 24px;
  line-height: 140%;
  color: rgb(23, 24, 25);
}
.calculation__container .calculation__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100%;
}
.calculation__container .calculation__content .calculation__about {
  display: flex;
  gap: 28px;
}
.calculation__container .calculation__content .calculation__about .calculation__about-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.calculation__container .calculation__content .calculation__about .calculation__about-item .item-img {
  width: 572px;
  height: 170px;
}
.calculation__container .calculation__content .calculation__about .calculation__about-item .item-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.calculation__container .calculation__content .calculation__about .calculation__about-item .item-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.calculation__container .calculation__content .calculation__about .calculation__about-item .item-text h3 {
  font-size: 28px;
  font-family: "AA Stetica", sans-serif;
  font-weight: 700;
  line-height: 140%;
  color: #2E3136;
  text-align: center;
}
.calculation__container .calculation__content .calculation__about .calculation__about-item .item-text ul {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.calculation__container .calculation__content .calculation__about .calculation__about-item .item-text ul li {
  font-family: "AA Stetica", sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: #2E3136;
  position: relative;
}
.calculation__container .calculation__content .calculation__about .calculation__about-item .item-text ul li:before {
  content: url("../assets/svg/check-one.svg");
  position: absolute;
  top: 4px;
  left: -32px;
  width: 24px;
  height: 24px;
}
.calculation__container .calculation__content .calculation__about .calculation__about-item .item-text ul.bad li:before {
  content: url("../assets/svg/close-one.svg");
}
.calculation__container .calculation__content .calculation__call {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  width: 100%;
  background-color: #E21F2F;
  padding: 40px;
  position: relative;
}
.calculation__container .calculation__content .calculation__call img {
  position: absolute;
  left: 23px;
  top: -17px;
}
.calculation__container .calculation__content .calculation__call p {
  font-size: 28px;
  font-family: "AA Stetica", sans-serif;
  font-weight: 700;
  line-height: 140%;
  color: #FFFFFF;
}

.delivery {
  background: #F4F5F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery__container {
  padding: 50px 94px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  width: 100%;
  gap: 60px;
}
.delivery__container .delivery-cost {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.delivery__container .delivery-cost .delivery-cost__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.delivery__container .delivery-cost .delivery-cost__title h2 {
  color: #2E3136;
  font-family: "AA Stetica", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
}
.delivery__container .delivery-cost .delivery-cost__title p {
  font-family: "AA Stetica", sans-serif;
  font-size: 24px;
  line-height: 140%;
  color: #2E3136;
}
.delivery__container .delivery-cost .delivery-cost__title p span {
  color: #E21F2F;
  font-weight: 700;
}
.delivery__container .delivery-cost .delivery-cost__blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 32px;
}
.delivery__container .delivery-cost .delivery-cost__blocks .delivery-cost__block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 24px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(26, 40, 54, 0.05);
  position: relative;
  max-width: 452px;
  width: 100%;
}
.delivery__container .delivery-cost .delivery-cost__blocks .delivery-cost__block:nth-child(4), .delivery__container .delivery-cost .delivery-cost__blocks .delivery-cost__block:nth-child(5) {
  max-width: 692px;
  width: 100%;
}
.delivery__container .delivery-cost .delivery-cost__blocks .delivery-cost__block svg {
  position: absolute;
  top: -16px;
  left: 24px;
}
.delivery__container .delivery-cost .delivery-cost__blocks .delivery-cost__block p {
  font-family: "AA Stetica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: #2E3136;
}
.delivery__container .delivery-type {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*# sourceMappingURL=cost.css.map */
