@use 'index'
@use 'services'
@use 'cases'

// npx sass --watch styles/main.sass css/main.css

.start
  background: url("../assets/img/main-start-bg.png") center no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  align-items: center

  @media screen and (max-width: 960px)
    background: url(../assets/img/main-start-bg.png) 80% no-repeat
    background-size: cover

    &__container
      padding: 20px 16px 29px

  &__container
    padding: 106px 94px 40px

    display: flex
    flex-direction: column
    gap: 136px
    position: relative

    max-width: 1600px
    width: 100%

    @media screen and (max-width: 1152px)
      padding: 106px 12px 40px

    @media screen and (max-width: 960px)
      padding: 20px 16px 29px


    .start__title
      display: flex
      flex-direction: column
      gap: 26px

      @media screen and (max-width: 960px)
        gap: 332px

        h1
          font-size: 34px!important
          max-width: 390px!important

      h1
        font-family: "AA Stetica", sans-serif
        font-size: 52px
        font-weight: 900
        line-height: 120%
        width: 100%
        max-width: 700px
        color: index.$main-text

      span
        text-decoration: underline
        text-decoration-color: index.$main-color


    .start__blocks
      display: flex
      flex-wrap: wrap
      gap: 28px

      @media screen and (max-width: 960px)
        position: absolute
        top: 629px
        left: 0
        justify-content: center
        gap: 12px
        flex-wrap: nowrap
        align-items: center
        flex-direction: column
        width: 100%

        .start__block
          padding: 16px!important
          gap: 12px

          svg
            position: static!important

      .start__block
        display: flex
        align-items: center
        justify-content: center
        max-width: 332px
        width: 100%

        padding: 28px 24px

        background: index.$white

        position: relative

        svg
          position: absolute
          top: -16px
          left: 24px

        p
          @include index.text-16
          font-weight: 500
          line-height: 130%
          color: index.$main-text

          @media screen and (max-width: 960px)
            font-size: 14px


.about
  background: index.$main-bg
  display: flex
  flex-direction: column
  align-items: center

  &__container
    padding: 120px 94px 112px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    max-width: 1600px
    width: 100%

    @media screen and (max-width: 1152px)
      padding:  60px 12px 52px

    @media screen and (max-width: 960px)
      padding: 372px 15px 60px

    h2
      @include index.main-title

    .about__our-mission
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      gap: 16px

      padding: 40px 28px
      margin-top: 52px
      width: 100%
      position: relative

      background: index.$white

      @media screen and (max-width: 960px)
        padding: 16px 16px 28px

        h3
          font-size: 22px!important

        p
          font-size: 20px!important

      h3
        @include index.text-24
        font-weight: 400
        line-height: 140%
        color: index.$main-text

      p
        @include index.sub-title
        line-height: 140%
        text-align: center

      .quotation-first, .quotation-second
        position: absolute

        @media screen and (max-width: 960px)
          width: 56px
          height: 39px

      .quotation-first
        top: -46px
        left: 42px

        @media screen and (max-width: 960px)
          top: -20px
          left: 16px

      .quotation-second
        bottom: -46px
        right: 42px
        rotate: 180deg

        @media screen and (max-width: 960px)
          bottom: -20px
          right: 20px

    .about__info
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      gap: 28px

      margin-top: 72px

      @media screen and (max-width: 960px)
        margin-top: 60px
        gap: 20px

      .about__info-top-item
        display: flex
        gap: 28px

        @media screen and (max-width: 960px)
          flex-direction: column
          gap: unset

        .about__info-left-photo
          width: 692px
          height: 414px
          position: relative
          min-width: 600px

          img
            width: 100%
            height: 100%
            object-fit: cover

          @media screen and (max-width: 1366px)
            width: 600px

          @media screen and (max-width: 960px)
            width: 100%
            height: 100%
            min-width: unset

            &:before
              height: 98%!important


        .about__info-left-photo:before
          @include index.linear-bg(270deg)

        .about__info-right-text
          display: flex
          flex-direction: column
          gap: 28px
          padding: 40px 40px 40px 0

          max-width: 720px

          @media screen and (max-width: 960px)
            padding: 20px 16px

            h4, p
              font-size: 16px!important


          h4, p
            color: index.$main-black
            @include index.text-20
            line-height: 140%
            max-width: 652px




          h4
            font-weight: 700

          @media screen and (max-width: 1366px)
            p
              font-size: 16px

      .about__info-items
        display: flex
        flex-wrap: wrap
        gap: 28px

        @media screen and (max-width: 960px)
          gap: 16px

        .about__info-item
          display: flex
          flex-direction: column
          gap: 12px

          padding: 28px

          width: 100%
          max-width: 692px

          @media screen and (max-width: 960px)
            gap: 8px

            h4
              font-size: 24px!important

            p
              font-size: 14px!important

          h4
            @include index.sub-title
            line-height: 140%
            color: index.$main-black

          p
            @include index.text-16
            color: index.$main-black
            line-height: 24px

          @media screen and (max-width: 1366px)
            &
              max-width: unset


      .about__info-top-item, .about__info-item
        background: index.$white


.guarantees
  display: flex
  flex-direction: column
  align-items: center
  background: index.$main-bg

  &__container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 52px

    width: 100%
    max-width: 1600px

    padding: 120px 94px

    @media screen and (max-width: 1152px)
      padding: 60px 0

    @media screen and (max-width: 960px)
      padding: 60px 0
      gap: 28px

    .guarantees__title
      display: flex
      flex-direction: column
      align-items: center
      gap: 12px

      @media screen and (max-width: 1152px)
        padding: 0 12px

      @media screen and (max-width: 960px)
        padding: 0 15px

        p
          font-size: 22px!important
          text-align: center

      h2
        line-height: 120%
        @include index.main-title

      p
        @include index.text-24
        line-height: 140%
        color: index.$main-text

    .guarantees__items
      display: flex
      justify-content: center
      gap: 20px
      width: 100%
      min-height: 285px

      @media screen and (max-width: 1366px)
        justify-content: unset
        min-height: unset
        gap: 12px

      @media screen and (max-width: 1152px)
        padding: 0 12px

      @media screen and (max-width: 960px)
        padding: 0 15px

      .guarantees__item
        display: flex
        flex-direction: column
        gap: 19px

        background: index.$white
        padding: 28px

        max-width: 309px
        width: 100%
        max-height: 285px
        height: 285px

        cursor: pointer

        @media screen and (max-width: 960px)
          gap: 8px
          padding: 16px
          min-width: 302px
          max-height: 204px
          pointer-events: none

          p
            opacity: 1!important
            font-size: 14px!important
            max-width: 270px
            overflow: unset!important
            white-space: wrap!important
            line-height: 140% !important
            min-width: unset!important


          svg
            min-width: 48px
            max-width: 48px!important
            max-height: 48px!important
            min-height: 48px!important

        h3
          @include index.text-20
          line-height: 160%
          font-weight: 700

        svg
          color: index.$main-color
          max-width: 120px
          width: 100%
          height: 100%
          max-height: 120px
          transition: .2s linear

        p
          display: block
          @include index.text-16
          line-height: 24px
          opacity: 0
          overflow: hidden
          white-space: initial
          min-width: 309px

      .guarantees__item:hover
        max-width: 426px
        background: index.$main-color
        height: 285px
        max-height: 285px
        transition: .1s linear

        h3
          font-size: 28px
          line-height: 160%
          font-weight: 700
          color: index.$white

        svg
          color: index.$white
          max-width: 78px
          max-height: 78px

        p
          color: index.$white
          opacity: 1


.work-stages
  display: flex
  flex-direction: column
  align-items: center
  background: index.$white

  &__container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 51px

    width: 100%
    max-width: 1600px

    padding: 100px 94px 120px

    @media screen and (max-width: 1152px)
      padding:  50px 12px 60px

    @media screen and (max-width: 960px)
      padding: 60px 15px
      gap: 32px

    .work-stages__title
      display: flex
      flex-direction: column
      align-items: center
      gap: 14px

      h2
        @include index.main-title

      p
        @include index.text-24
        line-height: 140%

        @media screen and (max-width: 960px)
          font-size: 22px
          text-align: center

    .work-stages__cases
      display: flex
      flex-direction: column
      gap: 70px
      width: 100%
      height: 421px

      position: relative

      @media screen and (max-width: 960px)
        height: 636px

      .cases__car-stages
        display: flex
        padding: 0 40px
        position: relative
        align-items: center
        justify-content: space-between
        height: 50px

        @media screen and (max-width: 960px)
          display: none

        &:before
          content: ""
          position: absolute
          top: calc(50% - 1px)
          left: 0
          width: 100%
          height: 2px
          border-radius: 3px
          background: #E7EAED
          z-index: 0

        .cases__circle
          width: 20px
          height: 20px
          background: index.$main-color
          border-radius: 50%
          position: relative
          z-index: 1

        .cases__car
          position: absolute
          z-index: 2
          left: 0
          transition: .2s ease-in

          @media screen and (max-width: 1152px)
            &
              width: 100px

      .work-stages__case
        display: flex
        gap: 28px

        opacity: 1
        transition: .2s linear

        position: absolute
        width: 100%
        height: 100%
        top: 85px

        @media screen and (max-width: 960px)
          top: 0
          flex-direction: column

          .case__img
            width: 100%!important
            height: unset!important

        &.disabled
          opacity: 0
          pointer-events: none

        .case__img
          width: 452px
          height: 301px
          position: relative

          &:before
            @include index.linear-bg(270deg)

          img
            width: 100%
            height: 100%
            object-fit: cover

        .case__info
          width: 100%
          max-width: 932px
          display: flex
          flex-direction: column
          gap: 39px
          height: fit-content

          @media screen and (max-width: 1152px)
            max-width: 600px

          .case__text
            display: flex
            flex-direction: column
            gap: 16px

            p
              @include index.text-20
              line-height: 160%
              color: index.$main-text

              @media screen and (max-width: 960px)
                font-size: 16px


            div
              display: flex
              flex-direction: column
              gap: 12px

              .case__step
                padding: 12px
                background: index.$main-color
                width: fit-content
                @include index.text-16
                font-weight: 700
                line-height: .7
                text-transform: uppercase
                color: index.$white

                @media screen and (max-width: 960px)
                  font-size: 12px

              h3
                font-size: 28px
                font-family: "AA Stetica", sans-serif
                font-weight: 700
                line-height: 140%
                color: index.$main-text

                @media screen and (max-width: 960px)
                  font-size: 20px

          .case__nav-buttons
            display: flex
            gap: 12px
            justify-content: flex-end

            @media screen and (max-width: 960px)
              justify-content: flex-start


.faq
  background: index.$main-bg
  display: flex
  flex-direction: column
  align-items: center

  &__container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 52px

    max-width: 1600px
    width: 100%

    padding: 120px 94px

    @media screen and (max-width: 1152px)
      padding: 60px 12px

    @media screen and (max-width: 960px)
      padding: 60px 15px
      gap: 32px

    .faq__title
      display: flex
      flex-direction: column
      gap: 14px

      @media screen and (max-width: 960px)
        gap: 12px

        h2
          text-align: center

        p
          font-size: 20px!important
          text-align: center

      h2
        line-height: 120%
        @include index.main-title

      p
        @include index.text-24
        line-height: 140%
        color: index.$main-text

    .faq__content
      display: flex
      gap: 28px
      width: 100%

      @media screen and (max-width: 960px)
        flex-direction: column
        gap: 8px

        .faq__questions
          gap: 8px!important

      .faq__questions
        display: flex
        flex-direction: column
        gap: 20px
        width: 100%


        .faq__question
          display: flex
          flex-direction: column
          padding: 28px
          background: index.$white
          width: 100%
          cursor: pointer

          @media screen and (max-width: 960px)
            padding: 20px 16px

          &:hover .plus
            color: index.$main-color

          &.active .plus
            rotate: 45deg
            color: index.$main-color

          &.active .answer
            max-height: 600px

          &-title
            display: flex
            justify-content: space-between
            align-items: center
            gap: 20px

            h3
              @include index.text-20
              color: index.$main-text
              line-height: 160%

              @media screen and (max-width: 960px)
                font-size: 14px

            .plus
              overflow: unset
              color: #9DA2A7
              transition: .1s ease-out

          .answer
            max-height: 0
            display: flex
            flex-direction: column
            gap: 8px
            overflow: hidden
            transition: .3s linear

            @media screen and (max-width: 960px)
              gap: 6px

              h4
                padding-top: 14px!important
                font-size: 16px!important
                line-height: 140% !important

              p, li
                font-size: 14px!important
                line-height: 140% !important

            h4
              padding-top: 19px
              @include index.text-24
              color: index.$main-text
              line-height: 24px

            p, li
              @include index.text-16
              color: index.$main-text
              line-height: 24px
